 <div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <div class="panel">

<h1>Listing meems</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meems.each do |meem| %>
  <tr>
    <td><%= image_tag(meme.image.url(:medium), als: meme.title %></td>
    <td><%= meem.title %></td>
    <td><%= link_to 'Show', meem %></td>
    <td><%= link_to 'Edit', edit_meem_path(meem) %></td>
    <td><%= link_to 'Destroy', meem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mime', new_meem_path %>

</div></div>

        <%= render "shared/toolbox" %>
</div>
