<table>
<tr>
	<td>name</td>
	<td>email</td>
	<td>roles</td>
	<td>created_at</td>
	<td>last_sign_in_ip</td>
	<td></td>
<tr>

<%= @users.each do |user| %>
<tr>
	<td><%= user.name %></td>
	<td><%= user.account.email %></td>
	<td><%= user.roles %></td>
	<td><%= user.account.created_at %></td>
	<td><%= user.account.last_sign_in_ip %></td>
	<td> 
	<% if user.has_role? :admin %>
		<%= link_to "remove admin", user_remove_admin_path(user) %>
	<% else %>
		<%= link_to "remove admin", user_add_admin_path(user) %>
	</td>
<tr>
</table>