<div class="row MarginTop">
    <div class="large-8 push-4 columns rtl">
        <div class="section-container tabs" data-section="tabs">

            <div class="button-bar">
              <ul class="button-group">
                <li><a href="#" class="button secondary active">اونايي كه پست <%=
                            if current_user?(@user)
                                "کردم"
                            else
                                "کردی"
                            end

                         %> (<%= current_user.posts.count %>)</a></li>
                <% if current_user?(@user) %>
                    <li><%= link_to "باحالا (#{@user.favorite_posts.count})", favorites_user_path, class: "button secondary" %></li>
                <% end %>
              </ul>
            </div>

            <div class="panel">
                <div class="content" data-section-content>
                    <% @posts.each do |post| %>
                        <%= render "posts/post", post: post %>
                    <% end -%>
                </div>

                <%= render "shared/paginate", this: @posts %>
            </div>

        </div>
    </div>
    <%= render "shared/toolbox" %>
</div>