<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%# link_to "زیرپیرنی", root_path %>
        <%= link_to root_path do %>
            <div class="topLogo"></div>
        <% end -%>
    </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="show-for-small">
        <%= link_to "صفحه اصلی", root_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "میمولوژی", home_meme_info_path %>
      </li>
      <li class="divider"></li>
    </ul>
    <% if account_signed_in? %>
        <ul class="left show-for-small">
            <li class="show-for-small"><label>کاربر تووووولز</label></li>
          <li>
            <%= link_to "صفحه شخصي", user_path(current_user)  %>
          </li>
          <% if current_user && current_user.has_role?(:admin) %>
                <li><%= link_to "میم جدید", new_meem_path %></li>
                <li><%= link_to "صندلی داوری", home_davari_path %></li>
          <% end -%>
          <li><%= link_to "پست جدید", new_post_path  %></li>
          <li><%= link_to "تغییر کلمه رمز", edit_account_registration_path(current_user) %></li>
          <li><%= link_to "خروج از سایت", destroy_account_session_path, method: :DELETE %></li>
        </ul>
    <% else %>
            <ul class="left">
                <li><%= link_to "ورود به سايت", new_account_session_path %></li>
            </ul>

    <% end -%>

  </section>
</nav>