<div class="large-4 pull-8 columns">
    <div class="panel">
        <% if account_signed_in? %>
            <%= link_to "برگرد صفحه اصلی", root_path, class: "show-for-small" %>
            <hr class="show-for-small">
            <%= link_to "صفحه شخصي", user_path(current_user), id: "ProfileLink" %>
            <hr>
            <% if account_signed_in? %>
                <% if current_user && current_user.has_role?(:admin) %>
                    <%= link_to "میم جدید", new_meem_path %>
                    <hr>
                    <%= link_to "صندلی داوری", root_path %>
                    <hr>
                <% end -%>
            <% end -%>
            <%= link_to "پست جدید", new_post_path, id: "newPostLink" %>
            <hr>
            <%= link_to "تغییر کلمه رمز", edit_account_registration_path(current_user) %>
            <hr>
            <%= link_to "خروج از سایت", destroy_account_session_path, method: :DELETE, id: "exitLink" %>
        <% else %>
                <%= link_to "ورود به سايت", new_account_session_path %>
                <hr>
                <%= link_to "ثبت نام در سایت", new_account_registration_path %>
                <hr>
        <% end -%>

    </div>
</div>