<div class="row"  id="post<%= post.id.to_s %>">
    <div class="large-12 columns">
        <%= render "posts/header", post: post %>
    </div>
    <div class="large-12 columns">
        <%= link_to image_tag(post.image.url(:large), als: post.title), post_path(post) %>
    </div>
    <div class="large-12 columns info">
        <a href="#"><div class="large-6 small-6 fb_button left">بده بغلی</div></a>
        <a href="#"><div class="large-6 small-6 tw_button">بده بغلی</div></a>
        <div class="large-12 columns postFooter">

            <span class="smileCount">تعداد خنده: <%= post.favorite_count %></span>

            <span class="left dateInfo"><%= time_ago_in_words(post.created_at) %> by <%= link_to post.owner.name, post.owner %> <%= link_to "Delete", post_path(post),:confirm => 'Are you sure?', method: :delete, class: "DeletePost" %></span>
        </div>
    </div>
</div>
<hr>