 <div class="row MarginTop">
    <div class="large-8 push-4 columns panel">
        <h2>Create Item</h2>
        <%= simple_form_for(@post, :html => { :method => :post, :class => 'custom form-vertical'}) do |f| %>
                <%= f.error_notification %>
                <%= f.input :title, :required => true %>
                <%= f.file_field :image, class: "file text" %> <br> <br>
                <%= f.input :source, :required => true, placeholder: "http://www.example.com" %>
                <%= f.submit 'بده بره', class: "button grey submitBtn homeBtn right" %>
        <% end %>
    </div>
    <%= render "shared/ad_box" %>
</div>